<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--org.apache.ibatis.session.Configuration#variables-->
    <properties resource="mybatis/mybatis.properties"/>

    <!--org.apache.ibatis.builder.xml. XMLConfigBuilder#settingsElement(Properties)
        填充装置
    -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!---->
    <typeAliases>
       <typeAlias alias="My_DB_VENDOR" type="com.geshaofeng.springbootmybatisdemo.mapping.MyVendorDatabaseIdProvider"></typeAlias>
        <!--mapper : resultmap.type-->
        <typeAlias type="com.geshaofeng.springbootmybatisdemo.entity1.UserEntity" alias="User"/>
    </typeAliases>



    <environments default="development">
        <!--default CDATA #REQUIRED (transactionManager,dataSource) -->
        <environment id="development">

            <!--org.apache.ibatis.builder.xml.XMLConfigBuilder(XPathParser,String, Properties variables)
                利用 org.apache.ibatis.builder.BaseBuilder.configuration.setVariables(Properties);
            -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--新的My_DB_VENDOR-->
    <databaseIdProvider type="My_DB_VENDOR">
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <!--如果没有下面的配置：img/exception_1()-->
    <mappers>
        <mapper resource="mybatis/mapper/UserEntityMapper.xml"/>
    </mappers>

</configuration>